*, ::before, ::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #34495E, #41B883);
}

.main-container {
    width: 50%;
    margin: 25px auto;
    min-width: 300px;
    background: linear-gradient(45deg, lightgrey, white, lightgrey);
    box-shadow: 5px 5px 15px 0px #333;
    border-radius: 5px;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    height: 125px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

h1 {
    width: 100%;
    text-align: center;
}

.rate-input {
    cursor: pointer;
}

.time-code-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.time-code-item input {
    flex-shrink: 0;
    width: 40px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}


.btn-block {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.btn {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #333;
    transition: all 0.3s ease;
}

.calculate-btn:hover {
    background-color: #41B883;
    color: white;
}

.clear-btn:hover {
    background-color: orange;
}


.result {
    text-align: center;
    padding: 25px;
    font-size: 35px;
}

.separator {
    padding: 0 2px;
}
